/* General Stylings */
hr {
  margin-top: 25px;
}

h1, h2, h3 {
  color:#733c17;
}

form {
  margin-left: 10px;
}

.social-icon {
  color: #733c17;
}

.newWindowIcon {
  padding-left: 5px;
}

body {
  margin-top: 0;
  padding-top: 0;
}

main, footer {
  max-width: 80%;
  margin: 0px auto;
}

/* General Navigation Stylings */
a {
  color: #6c4600;
  padding: 3px;
 }
 
 nav a, nav a:visited, nav a.selected, nav a:hover { /* Keep links in main nav from changing color. They only change appearance when active. */
   color: #1C0800;
 }

 nav a.selected, nav a:hover {
  text-decoration: underline;
  font-weight:900;
}

nav {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  padding-top: 10px;
}

/* Header Specific Styles*/
#skip-content {
  background: #bd4b00;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 0;
}

header {
  min-height: 150px;
  align-content: end;
  margin-top: 0;
  border-color: #f27a2b;
  background: #bd4b00;
}

header nav {
  background: #f27a2b;
  min-height: 50px;
  margin: 0;
}

header nav ul {
  padding: 15px 20px 15px 20px;
  margin-bottom: 0;
}

header nav a {
  font-weight: 700;
  height: 25%;
  padding: 15px 10px 15px 10px;
}

header a:hover {
  outline: auto;
}

/* Breadcrumb Specific Styles */
.breadcrumbs {
  margin: 0;
  padding: 0;
  align-content: left;
  display:flex;
  font-weight: bold;
  min-height: 5px;
}

.breadcrumbs nav {
  align-self: flex-start;
}

.breadcrumbs ul {
  margin: 12px;
}

.breadcrumbs li {
  padding: 0px;
}

.breadcrumbs {
  background: #933c01;
  color: white;
}

.breadcrumbs a:visited {
  color: white;
}

#navHouse {
  color: #ffffff;
}

/* Main Specific */
main a:hover {
  outline: auto black;
}

/* Footer Specific Styles */
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 20px;
  font-family: 'Ubuntu', sans-serif;
}

footer ul {
  padding: 0;
}

#wcagIconContainer {
  display: block;
}