/* General Formatting */
.logoHeader {
    background-color: orange;
}

#logoImg {
    max-width: 100px;
    text-align: left;
    display: inline;
}
#siteName {
    display: inline;
}

/* Navigation Formatting */
#navMain {
    text-align: center;
    background-color: tan;
}

#navMain ul {
    list-style-type: none;

}

#navMain li {
    display: inline-flex;
}

.navSecondary {}

/* Header Formatting */
.headerImg {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main Section Formatting */
main {

}